.footer {
    padding: clamp(28px, 7.227vw, 74px) 0 clamp(52px, 7.227vw, 74px);

    @include small-tablet {
        background-color: #08091D;
    }
 
    &__wrapp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;

        @include small-tablet {
            flex-direction: column;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: clamp(36px, 5.078vw, 52px);
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: clamp(36px, 4.883vw, 50px);

        a {
            font-size: 16px;
            line-height: 100%;
            font-weight: 400;
            color: var(--cl-a);
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: clamp(43px, 5.078vw, 52px);

        @include for-small-tablet {
            align-items: flex-end;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: clamp(16px, 1.758vw, 18px);
            line-height: 100%;
            font-weight: 400;
            color: var(--cl-c);

            i {
                width: 43px;
                height: 43px;
                border: 1px solid rgba(255, 255, 255, 0.17);
                border-radius: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 33px;

        a {
            font-size: 16px;
            line-height: 100%;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            letter-spacing: -0.48px;
        }
    }
}