.header {
    position: relative;
    z-index: 30;
    transition: all 0.4s .5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    &.open-menu {
        transition: background 0.2s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        background: var(--bg-f);
    }

    &__wrapp {
        padding: clamp(16px, 3.32vw, 34px) 0 clamp(16px, 3.027vw, 31px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        z-index: 100;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: clamp(20px, 2.604vw, 50px);

        @include for-small-tablet {
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            padding-top: clamp(30px, 6.836vw, 70px);
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 50px;

        @include for-tablet {    
            a {
                display: flex;
                align-items: center;
                gap: 8px;
                font-family: var(--font-dmsans);
                font-size: 16px;
                line-height: 100%;
                font-weight: 400;
                color:  var(--cl-a);

                &.active {
                    color: var(--cl-d);
                }
    
                i {
                    padding: 4px;
                    background-color: #13152E;
                    border-radius: 6px;
                    font-family: var(--font-dmsans);
                    font-size: 12px;
                    line-height: 100%;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -0.36px;
                }
            }
        }

        @include tablet {
            flex-direction: column;

            a {
                font-family: var(--font-dmsans);
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 32px;
                line-height: 100%;
                font-weight: 700;
                color:  var(--cl-a);

                // new style start
                &.active {
                    color: var(--cl-d);
                }
                // new style end
    
                i {
                    padding: 4px;
                    background-color: #13152E;
                    border-radius: 6px;
                    font-family: var(--font-dmsans);
                    font-size: 20px;
                    line-height: 100%;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -0.36px;
                }
            }
        }
    }

    &__btn {
        display: none;

        @include for-small-tablet { 
            display: flex; 
            padding: 11px 24px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background-color: rgba(57, 202, 136, 0.90);
            font-family: var(--font-inter);
            font-size: 14px;
            line-height: 142%;
            font-weight: 500;
            color: var(--cl-a);
            letter-spacing: 0.2px;
            transition: all 0.3s ease;
    
            &:hover,
            &:active {
                background-color: var(--bg-a);
                color: var(--cl-b);
            }
        }
    }

    .burger {
        justify-self: end;

        @include for-tablet {
            display: none;
        }

        @include tablet {
            @include burger;
        }
    }
}