.article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__image {
        display: flex;

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: clamp(15px, 2.148vw, 22px);
        flex-grow: 1;
    }

    &__title {
        width: fit-content;
        font-size: 24px;
        line-height: 133%;
        font-weight: 700;
        color: var(--cl-a);
        background: radial-gradient(100% 65% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.40) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__except {
        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
        color: var(--cl-a);
    }

    &__info {
        display: grid;
        grid-template-columns: 48px auto;
        align-items: center;
        gap: 0 16px;
    }

    &__icon {
        grid-row: span 2;
        display: flex;
    }

    &__sitename {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        color: var(--cl-a);

        p:not(:first-of-type) {
            position: relative;

            &::before {
                content: '•';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -13px;
                color: var(--cl-a);
            }
        }
    }
}