.article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    &__image {
        display: flex;
        border: 1px solid var(--br-b);
        padding: 1px;
        border-radius: 8px;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 0;

        @include for-tablet {
            height: 200px;
        }

        @include for-small-tablet {
            @include laptop {
                height: clamp(190px, 24.194vw, 300px);
            }
        }

        @include small-tablet {
            height: clamp(200px, 48.177vw, 370px);
        }

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: clamp(15px, 2.148vw, 22px);
    }

    &__title {
        width: fit-content;
        font-size: 24px;
        line-height: 133%;
        font-weight: 700;
        color: var(--cl-a);
        background: radial-gradient(100% 65% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.40) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__except {
        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
        color: var(--cl-a);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__info {
        display: grid;
        grid-template-columns: 48px auto;
        align-items: center;
        gap: 0 16px;
    }

    &__icon {
        grid-row: span 2;
        display: flex;
    }

    &__sitename {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        color: var(--cl-a);

        p:not(:first-of-type) {
            position: relative;

            &::before {
                content: '•';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -13px;
                color: var(--cl-a);
            }
        }
    }
}