.actuall-section {
    padding: clamp(40px, 7.129vw, 73px) 0 clamp(40px, 5.469vw, 56px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(40px, 5.469vw, 56px);

        .article-card {
            @include for-small-tablet {
                display: grid;
                grid-template-columns: clamp(348px, 43.871vw, 544px) 1fr;
                align-items: center;
                gap: 10px clamp(24px, 2.661vw, 33px);
            }
        }

        .article-card__image {
            @include for-small-tablet {
                height: clamp(240px, 23.387vw, 290px);
            }
        }

        .article-card__box {
            @include for-small-tablet {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 7px;
            }
        }

        .article-card__title {
            max-width: 550px;
            font-size: clamp(32px, 3.516vw, 36px);
        }

        .article-card__except {
            max-width: 356px;
        }
    }

    &__title {
        max-width: 658px;
        font-size: clamp(40px, 4.688vw, 48px);
        line-height: normal;
        font-weight: 700;
        color: var(--cl-a);
    }
}