.all-section {
    position: relative;

    &--category {
        .all-section__wrapp {
            padding: clamp(40px, 5.469vw, 56px) 0;
            gap: clamp(40px, 5.469vw, 56px);
        }

        .load-more {
            padding-top: clamp(40px, 5.469vw, 56px);
        }
    }
    
    &__wrapp {
        padding: 34px 0 clamp(40px, 4.492vw, 46px);
        display: flex;
        flex-direction: column;
        gap: 36px;

        @include mobile {
            padding-top: 40px;
            gap: 40px;
        }
    }

    &__title {
        font-size: clamp(24px, 3.125vw, 32px);
        line-height: 140%;
        font-weight: 500;
        color: var(--cl-a);
    }

    &__items {
        display: grid;
        gap: clamp(24px, 3.516vw, 36px) 20px;

        @include for-tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            @include for-small-tablet {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}