.article {
    padding: clamp(15px, 5.645vw, 70px) 0 clamp(25px, 5.645vw, 70px);

    &__top {
        display: grid;
        gap: 20px;

        @include for-small-tablet {
            margin-bottom: clamp(20px, 4.883vw, 50px);
            grid-template-columns: 1fr auto;
            align-items: center;
        }
    }

    &__title {
        font-size: clamp(24px, 3.516vw, 36px);
        line-height: 133%;
        font-weight: 700;
        color: var(--cl-a);
    }

    &__btn {
        width: fit-content;
        padding: 11px 24px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background-color: rgba(57, 202, 136, 0.90);
        font-size: 14px;
        line-height: 142%;
        font-weight: 500;
        color: var(--cl-a);
        letter-spacing: 0.2px;
        transition: all 0.3s ease;

        &:hover,
        &:active {
            background-color: var(--bg-a);
            color: var(--cl-b);
        }

        @include small-tablet {
            order: 1;
        }
    }

    &__box {
        padding: 24px 0 55px;
        display: grid;
        align-items: flex-start;
        gap: 24px clamp(24px, 3.629vw, 45px);
        border-bottom: 1px solid var(--br-a);

        @include for-small-tablet {
            grid-template-columns: clamp(288px, 31.29vw, 388px) 1fr;
        }
    }

    &__divider {
        grid-column: 1 / -1;
        padding: 13.5px 0;
        border-top: 1px solid var(--br-c);
        border-bottom: 1px solid var(--br-c);

        @include for-small-tablet {
            padding: 13.5px 21px;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__thumbnails {
        grid-column: 1 / -1;
        display: flex;

        @include for-tablet {
            margin-bottom: 26px;
        }

        @include small-tablet {
            order: -1;
        }
    }

    &__aside {
        position: sticky;
        top: 20px;
        padding: clamp(15px, 2.984vw, 37px) clamp(15px, 2.419vw, 30px) clamp(15px, 3.468vw, 43px);
        background: rgba(255, 255, 255, 0.00);
        border: 1px solid var(--br-b);
        border-top: 5px solid var(--br-b);
        border-radius: 8px;
        box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: column;
        gap: clamp(15px, 2.016vw, 25px);

        @include small-tablet {
            display: none;
        }

        &-title {
            font-size: clamp(20px, 1.935vw, 24px);
            line-height: 125%;
            font-weight: 900;
            color: var(--cl-a);
        }

        &-headings {
            display: flex;
            flex-direction: column;
            gap: clamp(15px, 2.258vw, 28px);
            font-size: 16px;
            line-height: 150%;
            font-weight: 400;
            color: var(--cl-a);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2.246vw, 23px);
        color: var(--cl-a);

        h2 {
            font-size: 28px;
            line-height: 114%;
            font-weight: 700;
        }

        h3 {
            font-size: 24px;
            line-height: 114%;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            line-height: 140%;
            font-weight: 500;
        }

        a {
            font-size: 20px;
            line-height: 140%;
            font-weight: 500;
            color: var(--cl-d);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
        }
    }
}