.article {
    position: relative;
    padding: clamp(15px, 5.645vw, 70px) 0 clamp(55px, 5.645vw, 70px);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: clamp(15px, 4.861vw, 70px);
        width: 218px;
        height: 870px;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        z-index: -1;

        @include mobile {
            width: 176px;
            height: 130px;
            background: rgba(57, 202, 136, 0.2);
            filter: blur(47.0275993347168px);
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: clamp(15px, 4.861vw, 70px);
        width: 218px;
        height: 870px;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        z-index: -1;

        @include mobile {
            display: none;
        }
    }

    &__top {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        gap: 20px;

        @include for-small-tablet {
            margin-bottom: 26px;
        }
    }

    &__title {
        width: fit-content;
        font-size: clamp(24px, 3.516vw, 36px);
        line-height: 133%;
        font-weight: 700;
        color: var(--cl-a);
        background: radial-gradient(100% 65% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.40) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__box {
        position: relative;
        padding: 24px 0 55px;
        display: grid;
        align-items: flex-start;
        gap: 24px clamp(24px, 3.629vw, 45px);
        border-bottom: 1px solid var(--br-a);

        @include for-small-tablet {
            grid-template-columns: clamp(288px, 31.29vw, 388px) 1fr;
        }
    }

    &__divider {
        grid-column: 1 / -1;
        padding: 13.5px 0;
        border-top: 1px solid var(--br-c);
        border-bottom: 1px solid var(--br-c);

        @include for-small-tablet {
            padding: 13.5px 21px;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__thumbnails {
        grid-column: 1 / -1;
        display: flex;
        border: 1px solid var(--br-b);

        @include for-tablet {
            margin-bottom: 26px;
        }

        @include for-small-tablet {
            height: clamp(370px, 42.708vw, 615px);
        }

        @include small-tablet {
            order: -1;
        }

        picture, 
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__aside {
        position: sticky;
        top: 20px;
        padding: clamp(15px, 2.984vw, 37px) clamp(15px, 2.419vw, 30px) clamp(15px, 3.468vw, 43px);
        background: rgba(255, 255, 255, 0.00);
        border: 1px solid var(--br-b);
        border-top: 5px solid var(--br-b);
        border-radius: 8px;
        box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: column;
        gap: clamp(15px, 2.016vw, 25px);

        @include small-tablet {
            display: none;
        }

        &-title {
            font-size: clamp(20px, 1.935vw, 24px);
            line-height: 125%;
            font-weight: 900;
            color: var(--cl-a);
        }

        &-headings {
            display: flex;
            flex-direction: column;
            gap: clamp(15px, 2.258vw, 28px);
            font-size: 16px;
            line-height: 150%;
            font-weight: 400;
            color: var(--cl-a);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2.246vw, 23px);
        color: var(--cl-a);

        h1,
        h2 {
            width: fit-content;
            font-size: 28px;
            line-height: 114%;
            font-weight: 700;
            background: radial-gradient(100% 65% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.40) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            font-size: 24px;
            line-height: 114%;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            line-height: 140%;
            font-weight: 500;
        }

        a {
            font-size: 20px;
            line-height: 140%;
            font-weight: 500;
            color: var(--cl-d);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
        }
    }
}