.best-section {
    padding: clamp(30px, 6.836vw, 70px) 0 70px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: clamp(30px, 6.836vw, 70px);
        width: 218px;
        height: 615px;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        z-index: -1;

        @include mobile {
            bottom: initial;
            top: 0;
            height: 400px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: clamp(30px, 6.836vw, 70px);
        width: 218px;
        height: 615px;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        z-index: -1;

        @include mobile {
            display: none;
        }
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 4.297vw, 44px);
    }

    &__title {
        font-size: clamp(24px, 3.125vw, 32px);
        line-height: 140%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__items {
        display: grid;
        gap: 40px clamp(30px, 4.032vw, 50px);

        @include for-small-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            li {
                display: none;
            }
            
            li:nth-child(-n+2) {
                display: list-item;
            }
        }
    }

    .article-card__image {
        @include for-tablet {
            height: clamp(190px, 24.194vw, 300px);
        }

        @include small-tablet {
            height: clamp(200px, 48.177vw, 370px);
        }
    }
}