.latest-section {
    padding: clamp(15px, 6.836vw, 70px) 0 70px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: clamp(15px, 6.836vw, 70px);
        width: 218px;
        height: 400px;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        z-index: -1;

        @include mobile {
            bottom: initial;
            top: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: clamp(15px, 6.836vw, 70px);
        right: 0;
        background: rgba(57, 202, 136, 0.28);
        filter: blur(105.25px);
        width: 218px;
        height: 400px;
        z-index: -1;

        @include mobile {
            bottom: 70px;
            width: 176px;
            height: 130px;
            background: rgba(57, 202, 136, 0.2);
            filter: blur(47.0275993347168px);
        }
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 4.297vw, 44px);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: clamp(24px, 3.125vw, 32px);
        line-height: 140%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
    }

    .swiper {
        width: calc(100% + (var(--container-offset) * 2));
        margin: 0 calc(var(--container-offset) * -1);

        .swiper-container {
            padding: 0 var(--container-offset);
        }
        
        &-slide {
            width: 100%;
            height: initial;
        }

        &-container{
            width: 100%;
        }

        &-btn {
            width: clamp(28px, 3.125vw, 32px);
            height: clamp(28px, 3.125vw, 32px);
            background-color: var(--bg-c);
            color: var(--cl-b);
            transition: all 0.3s ease;

            &.swiper-button-prev {
                svg {
                    transform: scale(-1);
                }
            }

            svg {
                fill: currentColor;
            }

            &:hover,
            &:active {
                background-color: var(--bg-a);
            }
        }
    }
}