.latest-section {
    padding: clamp(15px, 6.836vw, 70px) 0 70px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: var(--left-latest);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 822px;
        width: 429px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: var(--right-latest);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 822px;
        width: 429px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 4.297vw, 44px);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: clamp(24px, 3.125vw, 32px);
        line-height: 140%;
        font-weight: 500;
        color: var(--cl-d);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
    }

    .swiper {
        width: calc(100% + (var(--container-offset) * 2));
        margin: 0 calc(var(--container-offset) * -1);

        .swiper-container {
            padding: 0 var(--container-offset);
        }
        
        &-slide{
            width: 100%;
        }

        &-container{
            width: 100%;
        }

        &-btn {
            width: clamp(28px, 3.125vw, 32px);
            height: clamp(28px, 3.125vw, 32px);
            background-color: var(--bg-c);
            color: var(--cl-b);
            transition: all 0.3s ease;

            &.swiper-button-prev {
                svg {
                    transform: scale(-1);
                }
            }

            svg {
                fill: currentColor;
            }

            &:hover,
            &:active {
                background-color: var(--bg-a);
            }
        }
    }
}