.more-section {
    padding: 56px 0 40px;
    position: relative;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 4.297vw, 44px);
    }

    &__title {
        font-size: clamp(24px, 3.125vw, 32px);
        line-height: 140%;
        font-weight: 700;
        color: var(--cl-a);
    }

    &__items {
        display: grid;
        gap: 24px 22px;

        @include for-tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            @include for-small-tablet {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}