.load-more {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;

    @include for-mobile{
        padding-top: 36px;
    } 

    @include mobile{
        padding-top: 40px;
    } 

    &__btn {
        width: 178px;
        height: 42px;
        background-color: var(--bg-c);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-inter);
        font-size: 14px;
        line-height: 120%;
        font-weight: 500;
        transition: 0.3s ease;

        &:hover,
        &:active {
            background-color: var(--bg-a);
            color: var(--cl-b);
        }

        @include mobile{
            width: 100%;
        } 
    }
}