.select {
    position: relative;
    user-select: none;
    transition: all .1s;

    svg {
      transition: 0.1s ease;
    }

    &.active {
      z-index: 10;

      svg {
        transform: rotate(90deg);
      }
    }
  
    &__body {
      position: absolute;
      z-index: 5;
      height: 0;
      top: 100%;
      width: 100%;
      overflow: hidden;
      transition: height 0.1s ease-in;
    }
  }
  

  
  